# Dependencies
node_modules
.pnpm-store/

# Environment
.env

# Build
dist
build
.next
out
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDE y editores
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*.sublime-*
.history